body{
     background-color: white; 
}

header{
    height: 15%;
    background-color: #28283e;
    font-size: 40px;
}
#phpTitel{
    width: 13.5%;
}

titel{
    color: white;
    font-weight: 800;
    font-size: 50px;
}
h2{
    
}

#file-list{
    
}

img{
    width: 100%;
    max-width: 100%;
    border-color: #000;
}
#file-detail{
    border-radius: 50px;
}

tbody{
    background-color: white;
}