body{
     background-image:url("../img/glowing-blue-circles-19043-1920x1200.jpg"); 
}
header{
    font-size: 40px;
}
h1{
    font-weight: 800;
    color: red;
    font-size: 40px;
}
#file-list{
}
img{
    border-color: #000;
}
#file-detail{
}